@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"),
		url("../fonts/pt-sans.woff2") format("woff2"),
		url("../fonts/pt-sans.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	src: local("PT Sans"),
		url("../fonts/pt-sans-bold.woff2") format("woff2"),
		url("../fonts/pt-sans-bold.woff") format("woff");
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #000000;
	margin: 0;
	background-color: #F2F2F2;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page-wrapper {
	background-color: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	}

/* Header */

.page-header {
	height: 64px;
	display: flex;
	padding: 0 70px;
	align-items: center;
}

.logo-link {
	margin-right: 44px;
	position: relative;
	height: 100%;
	width: 140px;
}

.page-header-logo {
	position: absolute;
	top: 0;
	left: 0;
	}

.navigation {
	height: 100%;
	display: flex;
	flex-grow: 1;
	margin-right: 30px;
	justify-content: space-between;
}

.navigation__link {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.navigation__item {
	height: 100%;
	margin-right: 32px;
	display: flex;
	align-items: center;
}

.navigation__item.navigation__item--active {
	border-bottom: 2px solid #756257;
}

.navigation__list {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation__user-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

.navigation__user-list-item {
	margin-right: 26px;
}

.navigation__user-list-link {
	position: relative;
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}

.like-number {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #7DB54F;
	border-radius: 50%;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 10px;
	margin-top: -10px;
	right: -8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__user-list-item:nth-child(1) .navigation__user-list-link {
	background-image: url("../images/photo-decor/search-icon.svg");
}

.navigation__user-list-item:nth-child(2) .navigation__user-list-link {
	background-image: url("../images/photo-decor/heart-icon.svg");
}


.navigation__user-list-item:last-child {
	margin-right: 0;
}

.navigation-button {
	padding: 8px 34px;
}

/* Main */

.main__welcome-block {
	background-color: #000;
	background-image: url("../images/photo-decor/devinder.svg"), url("../images/photo-decor/sedona-mountains.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom;
	padding-top: 50px;
	padding-bottom: 82px;
}

.main__welcome-block-images {
	display: block;
	margin: auto;
}

.advantages__header {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 20px;
}

.advantages__title {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 620px;
}

.advantages__title-text {
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	margin: 0;
	text-align: center;
}

.advantages__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.advantages-item {
	background-color: #82B3D3;
	border: none;
	width: 400px;
	padding: 112px 85px 112px;
}

.advantages-item__text-wrapper {
	width: 400px;
	padding: 102px 85px 102px;
}

.advantages-item.advantages-item--wrapper {
	width: 1200px;
	display: flex;
	padding: 0;
	margin: 0;
}


.advantages-item__title {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	margin-bottom: 62px;
	padding: 0 24px;
}

.advantages__text {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	margin: 0;
	text-align: center;
}


.advantages-item__title.advantages-item__title--white {
	color: #FFFFFF;
}

.advantages__text.advantages__text--white {
	color: #FFFFFF;
}

.advantages-item.advantages-item__title--alpha-12 {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.advantages-item__title--alpha-20 {
	background-color: rgba(131, 179, 211, 0.2);
}

.services__header {
	padding-top: 64px;
	padding-bottom: 64px;
}

.services__title {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 506px;
}

.services__title-text {
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	margin: 0;
	text-align: center;
}

.services__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.services__list-item {
	background-color: rgba(131, 179, 211, 0.12);
	width: 400px;
	padding: 184px 86px 82px;
	background-repeat: no-repeat;
	background-position: center 26%;
}

.services__list-item:nth-child(1) {
	background-image: url("../images/photo-decor/home-icon.svg");
}

.services__list-item:nth-child(2) {
	background-image: url("../images/photo-decor/food-icon.svg");
}

.services__list-item:nth-child(3) {
	background-image: url("../images/photo-decor/present-icon.svg");
}

.services__list-item.services__list-item--white {
	background-color: #FFFFFF;
}

.services__name {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
	text-align: center;

}

.services__name-content {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	margin: 0;
	text-align: center;
}

.services-search {
	text-align: center;
	padding: 96px 304px 96px;
	margin: 0;
}


.services-search__title {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.services-serch__text {
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	margin: 0;
	margin-bottom: 54px;
}

.services-search__button {
	margin-left: auto;
	margin-right: auto;
}

/* footer */

.newsletter {
	background-color: #000;
	background-image: url("../images/photo-decor/subscribe.jpg");
	background-repeat: no-repeat;
}

.page-footer__newsletter {
	text-align: center;
	margin: 0;
	padding: 92px 260px 104px;
}

.page-footer__newsletter.page-footer__newsletter--catalog {
	padding-top: 108px;
	background-image: none;
	background-color: #FFFFFF;
}

.newsletter__title {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.newsletter__title.newsletter__title--black {
	color: #000000;
}

.newsletter__title-text {
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 54px;
	padding: 0 70px;
}

.newsletter__title-text.newsletter__title-text--brown {
	color: #333333;
}

.newsletter__form {
	display: flex;
	border-radius: 4px;
	overflow: hidden;
}

.newsletter__input-email {
	width: 452px;
	padding: 14px 20px;
	border: 0;
	background-color: #f2f2f2;
}

.page-footer__footer-social.footer-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 46px 70px 36px 70px;
}

.footer-social__list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social__item {
	/* margin-right: 28px; */
}

.footer-social__link {
	position: relative;
	display: block;
	width: 48px;
	height: 40px;

}

.footer-social__link:hover path,
.footer-social__link:focus path {
	fill: #68A2CA;
}

.footer-social__link:active path {
	color: #68A2CA4D;
}

.footer-social-icon {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.footer-social__item:last-child {
	margin-right: 0;
}


.footer-social__contacts-phone {
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.footer-social__contacts-phone:hover {
	color: #756157;
}

.footer-social__contacts-phone:focus {
	color: #756157;
}

.footer-social__contacts-phone:active {
	color: #7561574D;
}

.logo-link-footer:hover path {
	fill: #756157;
}

.logo-link-footer:focus path {
	fill: #756157;
}

.logo-link-footer:active path {
	fill: #7561574D;
}

/* main catalog */

.main-inner__header-wrapper {
	background-color: #000;
	background-image: url("../images/photo-decor/subscribe-2.jpg");
	background-repeat: no-repeat;
	padding: 36px 70px 54px;
}

.inner-header__title {
	font-size: 60px;
	line-height: 78px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 8px;
}

.breadcrumbs-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	color: #FFFFFF;
}

.breadcrumbs-item {
	margin-right: 28px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.catalog-filter {
	display: flex;
	justify-content: space-between;
}

.catalog-filter-group-wrapper {
	display: flex;
	border-radius: 20px;
}

.catalog-filter-group {
	padding: 0;
	margin: 0;
	margin-right: 70px;
	border-style: none;

}

.catalog-filter-group:last-child{
    margin-right: 0;
}

.catalog-filter-block {
	display: block;
	padding: 0;
	margin: 0;
}

.catalog-filter__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.catalog-filter__text {
	margin: 0;
	margin-right: 16px;
	width: 20px;
	height: 20px;
}

.catalog-filter-type {
	display: block;
	padding: 0;
	margin: 0;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-filter-item {
	margin-bottom: 16px;
}

.catalog-filter-item__text {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 23px;
	font-weight: normal;
	color: #FFFFFF;

}

.catalog-filter-input-price {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	width: 143px;
	height: 48px;
	padding: 12px 20px;
	border: 0;
}

.catalog-filter-range-price {
	margin: 0;
	width: 287px;

}

.catalog-filter-price {
	display: block;
	margin-right: 2px;
}

.catalog-filter-price:last-child {
    margin-right: 0;
}
.catalog-filter-price-wrapper {
	display: flex;
	margin-bottom: 36px;
	border-radius: 4px;
	overflow: hidden;
}

.btn-transparent-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 54px;
}

.button {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #FFFFFF;
	border: none;
	display: block;
	border-radius: 4px;
}

.button.button--big {
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
}

.catalog-buttom {
	padding: 8px 50px;
	margin-bottom: 40px;
}

.button.button--transparent {
	background-color: transparent;
}

.button.button--transparent:hover {
	color: rgba(255, 255, 255, 0.5);
}

.button.button--transparent:active {
	color: rgba(255, 255, 255, 0.3);
}

.button.button--transparent:disabled {
	color: rgba(255, 255, 255, 0.1);
}


.btn-transparent__reset {
	background-color: transparent;
}

.button.button--small {
	width: 140px;
	padding: 8px 18px;
	text-decoration: none;
	text-align: center;
}

.button.button--border-radius-none {
	border-radius: 0;
}

.button.button--brown {
	background-color: #756157;
}

.button.button--brown:hover,
.button.button--brown:focus {
	background-color: #615048;
}

.button.button--brown:active {
	background-color: #756157;
	color: #FFFFFF4D;
}

.button.button--brown:disabled {
	background-color: #E5E5E5;
}

.button.button--blue {
	background-color: #82B3D3;
}

.button.button--blue:hover,
.button.button--blue:focus {
	background-color: #68A2CA;
}

.button.button--blue:active {
	background-color: #82B3D3;
	color: #FFFFFF4D;
}

.button.button--blue:disabled {
	background-color: #E5E5E5;
}

.button.button--green {
	background-color: #7DB54F;
}

.button.button--green:hover {
	background-color: #6C9E42;
}

.button.button--green:focus {
	background-color:#6C9E42;
}

.button.button--green:active {
	background-color: #7DB54F;
	color: rgba(255, 255, 255, 0.3);
}

.button.button--blue:disabled {
	background-color: #E5E5E5;
}

.btn-transparent:hover {
	color: rgba(255, 255, 255, 0.5);
}

.btn-transparent:active {
	color: rgba(255, 255, 255, 0.3);
}

.btn-transparent:disabled {
	color: rgba(255, 255, 255, 0.1);
}

.hotels{
	padding: 50px 70px;
}

.hotels-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.hotels__sorting {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	margin-right: 68px;
	padding: 12px 14px;
	width: 292px;
	/**appearance:none;*/

}

.hotels-wrapper {
	display: flex;
	align-items: center;
}

.hotels__sorting-item {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.hotels__list {
	display: grid;
	width: 1060px;
	grid-template-columns: 340px 340px 340px;
	row-gap: 20px;
	column-gap: 20px;
	list-style: none;
	margin: 0;
	margin-bottom: 76px;
	padding: 0;
	border-bottom: 1px solid #f2f2f2;

}

.hotels__item-block {
	width: 340px;
	padding: 20px;
	margin: 0;
	border:1px solid #F2F2F2;
}

.product-card-image {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
}

.hotels__search-results {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
}

.hotels-display-options {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotels-display-options-item {
	margin-right: 8px;
}

.hotels-display-options-item:last-child {
	margin-right: 0;
}

.hotels-display-options-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 48px;
	height: 48px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #e5e5e5;
}

.hotels-display-options-item:nth-child(1) .hotels-display-options-button{
	background-image: url("../images/photo-decor/view-icon-one.svg");
}

.hotels-display-options-item:nth-child(2) .hotels-display-options-button{
	background-image: url("../images/photo-decor/view-icon-two.svg");
}

.hotels-display-options-item:nth-child(3) .hotels-display-options-button{
	background-image: url("../images/photo-decor/view-icon-three.svg");
}

.hotels-display-options-button.hotels-display-options-button--active {
	border-color: #000000;
}

.hotel__name {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #000000;
	display: block;
	margin: 0;
	margin-bottom: 16px;
}

.hotels_info {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 16px;
}

.hotel-more-favorites {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 16px;
}

.hotel-star {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hotel-stars {
	background-image: url(../images/photo-decor/star-icon.svg);
	background-repeat: space;
	width: 88px;
	height: 18px;
	margin: 0;
}

.hotel-stars.hotel-stars--three-star {
	width: 68px;
}

.housing__type {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.notel_price {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

/* .hotel__more {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #756157;
	border: none;
	text-decoration: none;
	border-radius: 4px;
	padding: 8px 26px;
} */

/* .hotel__favorites {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #FFFFFF;
	background-color: #82B3D3;
	border: none;
	border-radius: 4px;
	padding: 8px 20px;
}

.hotel__favorites.hotel__favorites-green {
	background-color: #7db54f;
} */

.hotel__rating {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
	border: none;
	text-decoration: none;
	border-radius: 4px;
	padding: 8px 22px;
}

.pagination {
	display: flex;
	padding: 0;
	margin: 0;
}

.pagination-link {
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	color: inherit;
}


.pagination-item {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	color: #FFFFFF;
	background-color: #82B3D3;
	border-radius: 4px;
	margin: 0;
	margin-right: 8px;
	width: 60px;
	height: 60px;
}

.pagination-item.pagination-item--active {
	color: #000000;
	background-color: #f2f2f2;
}

.pagination-item.pagination-item--transparent {
	color: #000;
	background-color: transparent;
}
